<!DOCTYPE html>
<title>Ls</title>

<style>
  body {
    margin: 0;
  }
  body, input {
    font: 1rem/1.4 'open sans', sans-serif;
  }
  input {
    border: none;
    outline: none;
  }
  main {
    padding: 1rem 2.5rem;
  }
  label {
    display: inline-block;
    text-align: right;
    width: 10rem;
    margin-left: -10rem;
  }
  label:after {
    content: '\00a0'
  }
  ul {
    margin: 0;
    padding: 1rem 0;
    list-style: none;
  }
  ul > li > a {
    text-decoration: none;
  }
  ul > li > a > span.matched {
    font-weight: 600;
  }
</style>

<script src="/s/vue.js"></script>

<main>
  <form><label>Ls</label><input autocomplete="off" autofocus="" v-model="query" v-on:keypress="onkeypress"></form>
  <ul v-if="!query.length">
    <li v-for="entry in entries" v-bind:key="entry.href"><a v-bind:href="entry.href">{{ entry.title }}</a></li>
  </ul>
  <ul v-if="query.length">
    <matched-entry v-for="entry in matched" v-bind:href="entry.href" v-bind:hints="entry.hints" v-bind:key="entry.href"></matched-entry>
  </ul>
</main>

<script>
  var xhr = (function() {
    function onreadystatechange(e) {
      if (this.readyState === 4) {
        if (this.status === 200) {
          this.done(this.responseText)
        } else {
          this.reject(this.status)
        }
      }
    }

    function xhr(uri) {
      var request = new XMLHttpRequest()
      request.open('get', uri)
      request.send()
      request.onreadystatechange = onreadystatechange
      return new Promise(function(done, reject) {
        request.done = done
        request.reject = reject
      })
    }

    return xhr
  }())

  Vue.component('matched-entry', {
    template: '<li><a v-bind:href="href"><span v-for="hint in hints" v-bind:class="{ matched: hint.matched }">{{ hint.text }}</span></a></li>',
    props: {
      href: '',
      hints: {
        type: Array
      },
    }
  })

  var INF = 0x7fffffff

  function insertionDistance(stack, needle, matches, factorStart = 1, factorEnd = 1, full = false) {
    var m = stack.length
    var n = needle.length
    var k = 0
    var d = 0
    var j = 0
    for (var i = 0; i < m && k < n; ++i) {
      if (stack[i] === needle[k]) {
        if (matches) matches.push(i)
        if (j === 0) {
          d += factorStart * (i - j)
        } else {
          d += i - j
        }
        j = i
        ++k
      }
    }
    i = m
    d += factorEnd * (i - j)
    if (k === n || !full) {
      return d
    } else {
      return INF
    }
  }

  var app = new Vue({
    el: 'main',
    data: {
      path: '',
      query: '',
      entries: [{ title: '.', href: '.', }],
      inited: false,
      isPopState: false,
    },
    mounted() {
      if (!history.state) {
        this.path = location.pathname
      } else {
        this.fetchState(history.state)
        this.refresh()
      }
    },
    watch: {
      query() {
        history.state.query = this.query
        history.replaceState(history.state, this.title)
      },
      path() {
        if (this.isPopState) {
          document.title = this.title
          this.isPopState = false
        } else {
          this.queryUpdate().then(() => {
            if (this.inited) {
              history.pushState(this.state, this.title, this.path)
            } else {
              this.inited = true
              history.replaceState(this.state, this.title, this.path)
            }
            document.title = this.title
            this.query = ''
          })
        }
      }
    },
    methods: {
      refresh() {
        this.queryUpdate().then(() => {
          history.replaceState(this.state, this.title, this.path)
        })
      },
      queryUpdate() {
        return xhr('/ls.php?d=' + this.path).then((text) => {
          this.entries = JSON.parse(text)
        }).catch((err) => {
          console.error(err)
        })
      },
      onkeypress(e) {
        if (e.code === 'Enter') {
          e.preventDefault()
          if (this.matched.length) {
            var item = this.matched[0]
            var href = item.href
            if (href[href.length - 1] === '/') {
              this.path = href
            } else {
              location.href = href
            }
          }
        }
      },
      fetchState(state) {
        this.isPopState = true
        this.path = state.path
        this.query = state.query
        this.entries = state.entries
      }
    },
    computed: {
      state() {
        return {
          path: this.path,
          query: this.query,
          entries: this.entries,
        }
      },
      title() {
        return 'Ls ' + this.path
      },
      matched() {
        return this.entries.map(entry => {
          var matches = []
          var d = insertionDistance(entry.title, this.query, matches, 100, 1 / 100, true)
          var hints = []
          var j = 0
          var l = 0
          for (var k = 0; k < matches.length; ++k) {
            var i = matches[k]

            if (i === l) {
              l = i + 1
            } else {
              if (j < l) hints.push({ text: entry.title.substring(j, l), matched: true })
              hints.push({ text: entry.title.substring(l, i), matched: false })
              j = i
              l = i + 1
            }
          }
          i = entry.title.length
          if (j < l) hints.push({ text: entry.title.substring(j, l), matched: true })
          hints.push({ text: entry.title.substring(l, i), matched: false })
          return { d, href: entry.href, hints }
        }).filter(a => a.d !== INF).sort((a, b) => a.d - b.d)
      }
    },
  })

  window.addEventListener('popstate', function(e) {
    app.fetchState(e.state)
  })

</script>
